body {
    margin: 0;
}

#sidebar {
    position: fixed;
    width: 84px;
    height: 100%;
    background: rgb(246, 248, 110);
    z-index: -2;
}

#sidebar ul li {
    display: block;
    position: relative;
    padding: 28px 0;
    -webkit-transition: border-left 0.2s;
    transition: border-left 0.2s 
}

#sidebar ul li:hover {
    border-left: solid 7px #7876f8;
    -webkit-transition: border-left 0.2s ease;
    transition: border-left 0.2s ease;
}

#sidebar ul li img {
    display: block;
    width: 42px;
    position: relative;
    margin: 0 auto;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}
